/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
judge-duck-service/
/ip-config.h
/dhcp-config.txt
/ducks.txt
/arp-bind.sh
/ducks-config.txt
/mem-config.h

