table {
	/*border-collapse: collapse;*/
}

table, th, td {
	/*border: 1px solid black;*/
	/*margin: 10px;*/
	/*padding: 10px;*/
	/*text-align: center;*/
}

table > caption {
	padding-top: 0px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 16px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

th, td {
	text-align: center;
}

.scrollable {
	overflow-x: scroll;
	overflow-y: scroll;
}

div.row {
	margin-top: -30px;
}


textarea{
	height:50%%;
	width:100%%;
	display:block;
	max-width:100%%;
	line-height:1.5;
	border-radius:3px;
	font:16px Consolas;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
}

